@import url("https://fonts.googhttps://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro:wght@300&display=swapleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Source Serif Pro", sans-serif;
  background-image: linear-gradient(
      rgba(100, 100, 100, 0.4),
      rgba(89, 89, 89, 0.4)
    ),
    url("assets/michela-ampolo-7tDGb3HrITg-unsplash.jpg");
    /* background-color: darkseagreen; */
  background-size: cover;
  transition: all 3ms ease;
  color: whitesmoke;
}
